#root {
  max-width: 1440px;
  margin: 0;
  padding: 1rem;
}

.wrapper{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; 
}

.container_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
}

ul>li{
  margin-right: 20px;
}


/*Main Content*/

.grid-container{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}

.grid_item{
  width: 100%;
}

.grid-container__main-content{
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-rows: 300px 240px;
}

.grid-container__main-content > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container__main-content__main-text{
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px;
  align-items: center;
}

.grid-container__main-content__main-text > h2 {
  max-width: 280px;
  font-size: 50px;  
  font-weight: 800;
}

#read_more{
  margin-top: 20px;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 1rem;
  border: none;
  background-color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.grid-container__side_info{
  padding: 0 40px;
  grid-column:2;
  width: 80%;
  height: 100%;
  background-color: hsl(240, 100%, 5%);
}

.grid-container__side_info > h2{
  font-size: 40px;
  color: hsl(35, 77%, 62%);
}

.grid-container__side_info__side_news{
  margin-top: 20px;
  color: white;
}

/*Trending*/

.trending-container{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.trending-container__content{
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending-container__content > img{
  height: 200px;
}

.trending-container__content__text > h2{
  color: hsl(233, 8%, 79%);
}

.trending-container__content__text > p{
  color: hsl(236, 13%, 42%);
}

/*Menu*/
.nav-menu__btn{
  display: none;
}
.nav-menu__close-btn{
  display: none;
}

/*Media queries*/

@media all and (max-width:800px){


   /*Menu*/

   .nav-menu__close-btn{
    display: block;
    background-color :hsl(36, 100%, 99%);
    width: 50px;
    border: none;
    position: absolute;
    top: 50px;
    right: 20px;
   }

   ul{
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0;
    top: -20px;
    background-color :hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(2000px);
    transition: 0.2s ease;
  }

  ul.active{
    transform: translateX(0);
    transition: 0.2s ease;
  } 

  ul > li {
    font-size: 30px;
    margin: 20px;
  }

  .nav-menu__btn{
    background-color :hsl(36, 100%, 99%);
    display: block;
    border: none;
    cursor: pointer;
    width: 40px;
    float: right;
  }

  /* Grids */
  .grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    gap: 80px;
  }

  .grid-container__main-content > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-container__main-content__main-text{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .grid-container__main-content__main-text > h2 {
    font-size: 40px;  
  }
  
  .grid-container__side_info{
    padding: 0 40px;
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    height: 100%;
    background-color: hsl(240, 100%, 5%);
  }

  .trending-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }

 
}
